@import url('bootstrap.css');
html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.input-div{
    padding-top:10px;
    padding-bottom: 10px;
}